/**
* author: c0ny1
* date: 2018-6-13
* project: https://github.com/c0ny1/upload-labs
*/

body{
	margin: 0 0 0 0;
	min-width: 1340px;/*防止窗口变小导致页面变形*/
	background: #333333;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", 微软雅黑, sans-serif;
}

#head{
	width: 100%;
	margin: 0px auto;
	margin-bottom: 10px;
	min-width: 1050px;
}

#head_menu a{
	background: #FFCC00;
	margin: 10px 10px 10px 10px;
	padding: 8px;
	-webkit-border-radius:5px;
	font-family:  黑体;
	color: #333333;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

#head img{
	margin-top: 10px;
	height: 45px;
}

#head_menu{
	min-width: 250px;
	margin: 20px 40px 10px 10px;
	float: right;
}

ol{
	list-style:none;
}

ol li h3{
	font-family:"Arista2",helvetica,sans-serif;
	color: #E05D04;
	font-size: 18px;
}

p{
	color:#fff;
	margin: 15px 0px;
	letter-spacing: 5px;
	font-size: 14px;
}

p code {
    background: #323232;
    font-size: .8em;
    padding: 4px;
    margin-right: 5px;
    color: #fff55c;
    -webkit-border-radius:5px;
    letter-spacing: 0px;
}

#img{
	margin-top:20px;
	margin-left: 20px;
}

#main{
	border: 1px #ddd;
	width: 100%;
	float: left;
	border: 1px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;	
}

#menu{
	float: left;
	width: 10%;
	padding: 10 10 10 10;
	min-width: 100px;
	margin-left: 40px;
	
}

#menu ul{
	margin: 0 0 0 0;
	padding:  0 0 0 0;
}

#menu ul li{
	list-style-type:none;
	text-align: center;
	margin-bottom: 5px;
}

#menu ul li a{
	color: #FDA162;
	text-decoration: none;
	font-size: 16px;
	padding: 5 30 5 30;
}

#menu ul li a:hover{
	color: #E05D04;
	background: #252525;
	-webkit-border-radius:5px;
}

.a_is_selected{
	color: #E05D04;
	background: #252525;
	-webkit-border-radius:5px;
	padding: 5 30 5 30;
}

#upload_panel{
	float: right;
	width: 78%;
	min-width: 500px;
	padding: 10 10 10 10;
	margin-right: 80px;
	background: #444444;
	-webkit-border-radius:5px;
}

#upload_panel ol{
	padding-right: 40px;
}

#upload_panel a{
	text-decoration: none;
	padding: 0px 0px 1px 0px;
	color: #fff55c;
}

#upload_panel a:hover {
	border-bottom:2px solid #FDA162;
}

.input_file{
	-webkit-border-radius: 5px;
	background: #323232;
	border: 0px;
}

.input_text{
	padding: 5px;
	width: 240px;
	height: 22px;
	line-height: 22px;
	border: 0px;
	-webkit-border-radius: 5px;
	color: #888888;
	background: #323232;
}

.button{
	background: #FFCC00;
	margin: 10px;
	padding: 4px;
	-webkit-border-radius:5px;
	font-family:黑体;
	border:0px;
}
#msg{
	color:red;
}

#img img{
	border:1px solid #000;
}
#footer{
	color: #C1C1C1;
	float: left;
	background: #222222;
	width: 100%;
	line-height: 50px;
}

#footer a{
	text-decoration: none;
	color: #A5041D;
}

.mask {
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.6); 
	display:none; 
	position:fixed; 
	_position:absolute; 
	top:0; left:0; 
	z-index:99;
}

.dialog {
	min-height:120px;
	background:#393D48;
	color:#fff;display:none;
	position:fixed; top:20%;
	left:50%; 
	z-index:100; 
	box-shadow:3px 3px 5px #000;
	-webkit-border-radius: 5px;
}

.dialog-title {
	background:#91440F;
	width:100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-webkit-border-radius: 5px 5px 0px 0px;
}

.dialog a.close { 
	display:block; 
	width:22px; 
	height:22px; 
	background:url(../img/close.png) center no-repeat #91440F; 
	text-indent:-9999em;
	margin-right: 10px;
	margin-top: 5px;
}

.dialog a.close { 
	position:absolute; top:0; 
	right:0; 
	z-index:101;
}

.dialog.loading { 
	background:url(../img/loading.gif) center no-repeat #393D48;
}

.dialog-content {
	line-height: 20px;
	padding:22px 10px 10px 10px;
	border-top: 1px solid #000;
	-webkit-border-radius: 0px 0px 5px 5px;
	/*过长文本自动换行*/
	word-break: break-all;
	word-wrap: break-word;
}